.drawer {
    min-height: 200px;
}

.cartItem {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 15px;
    border-bottom: 2px solid rgb(225, 215, 215);
}

.cartImg {
    width: 120px; 
}

.cartBtn {
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
}



